﻿/* DEFAULTS
----------------------------------------------------------*/

/* KULER THEME: http://kuler.adobe.com/#themeID/511866 */

body
{
    background: #1B1D1E;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}

a:link, a:visited
{
    color: #01FF01;
}

a:hover
{
    color: #00C101;
    text-decoration: none;
}

a:active
{
    color: #01FF01;
}

p
{
    color: White;
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: White;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #5E6D70;
    margin: 20px auto 0px auto;
    border: 1px solid Black;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #01FF01;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #424E4F;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 700px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#00C101;
    width:100%;
}

div.adminHideSkiplink
{
    background-color: Black;
    font: white;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

a.navLink
{
    color: #424E4F;
    font-size: 13pt;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

a.navLink:hover
{
    text-decoration: underline;
}

a.navLink:active
{
    background-color: Black;
    font: white;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.textEntryShort
{
    width: 160px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 60%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: #424E4F;
}

.loginDisplay a:link
{
    color: #424E4F;
}

.loginDisplay a:visited
{
    color: #424E4F;
}

.loginDisplay a:hover
{
    color: #424E4F;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

/* REGISTRATION TABLE LAYOUTS //TODO CLEAN THIS UP
----------------------------------------------------------*/

table.tableDrag
{
    border: 2px solid black;
    border: none;
    float: left;
    cursor: move;
}

td.tdDrag
{
    padding: 8px;
    border: 1px solid black;
    background-color: Orange;
}

table.seating
{
    position: absolute;
    border: 2px solid black;
    border: none;
    float: left;
    cursor: pointer;
}

div#rightLeg
{
    float: right;
    //padding-top: 50px;
    width: 25%;
}

div#rightCreateLayout
{
    float: right;
    padding-top: 50px;
    width: 25%;
}

#legend
{
    float: left;
}
td.seat
{
    padding: 8px;
    border: 1px solid black;
}
td.reserved
{
    background-color: Purple;
}
td.userReserved
{
    background-color: Blue;
}
td.taken
{
    background-color: Red;
}
td.userTaken
{
    background-color: Orange;
}
td.available
{
    background-color: Green;
}
td.userSelected
{
    background-color: Orange;
}

/* hover box */
#hoverbox
{
    position: absolute;
    visibility: hidden;
    border: 1px solid black;
    background-color: Black;
    color: White;
    padding: 10px;
}
#hiddenForm
{
    visibility: hidden;
    border: 1px solid orange;
}

table.font
{
    color: White;
}

/* SELECTION OF FONT ON SITE */
::selection 
{
    background: #01FF01;
}

::-moz-selection
{
    background: #01FF01;
}