﻿/* DEFAULTS
----------------------------------------------------------*/

body
{
    background: #ABADA4;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #ABADA4;
}

a:link
{
    color: #D85A1A;
}

a:visited
{
    //color: #FF8C00;
    //color: White;
    color: #D85A1A;
}

a:hover
{
    color: #D85A1A;
    text-decoration: none;
}

a:active
{
    color: #D85A1A;
    color: #FF8C00;
}

p
{
    color: #ABADA4;
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #D85A1A;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #D85A1A;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
    color: #D85A1A;
}

h3
{
    font-size: 1.2em;
    color: #D85A1A;
}

h4
{
    font-size: 1.1em;
    color: #D85A1A;
}

h5, h6
{
    font-size: 1em;
    color: #D85A1A;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #252525;
    margin: 20px auto 0px auto;
    border: 2px solid #D85A1A;
    border-radius: 15px 15px 15px 15px;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: Black;
    width: 100%;
    border-radius: 15px 15px 15px 15px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 700px;
}

.regBG
{
    min-height: 700px;
    background: url("../Images/regImageBG.jpg") top left no-repeat;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

.footer p
{
    color: Black;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#ABADA4;
    width:100%;
    text-align: center;
}

div.adminMenuDiv
{
    float: left;
    color: #D85A1A;
    padding-left: 5px;
    position: absolute;
    cursor: pointer;
    text-align: left;
}

div.adminMenuULDiv
{
    cursor: default;
    background-color: White;
    border: 1px solid black;
    color: White;
}

.adminLink
{
    padding-left: 20px;
    padding-right: 20px;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

a.navLink
{
    background-color: #D85A1A;
    border-radius: 25px 5px 25px 5px;
    color: White;
    font-size: 13pt;
    margin-left: 10px;
    margein-right: 10px;
    padding: 7px;
    text-decoration: none;
}

a.navLink:hover
{
    text-decoration: none;
    padding: 10px;
}

a.navLink:active
{
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.textEntryShort
{
    width: 160px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 60%;
}

input[type=submit]
{
    display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: 5px 20px;
	margin: 5px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: White;
	border: solid 1px Black;
	background: #D85A1A;
	background: -webkit-gradient(linear, left top, left bottom, from(#D85A1A), to(#EF7A11));
	background: -moz-linear-gradient(top,  #D85A1A,  #EF7A11);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#D85A1A', endColorstr='#EF7A11');
}

input[type=submit]:hover
{
	text-decoration: none;
	background: #EF7A11;
	background: -webkit-gradient(linear, left top, left bottom, from(#EF7A11), to(#D85A1A));
	background: -moz-linear-gradient(top,  #EF7A11,  #D85A1A);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#EF7A11', endColorstr='#D85A1A');
}

input[type=submit]:active
{
	position: relative;
	top: 1px;
	background: #D85A1A;
	background: -webkit-gradient(linear, left top, left bottom, from(#D85A1A), to(#EF7A11));
	background: -moz-linear-gradient(top,  #D85A1A,  #EF7A11);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#D85A1A', endColorstr='#EF7A11');
}

input[type=submit]:disabled
{
	text-decoration: none;
	background: Black;
	color: White;
}


/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: White;
}

.loginDisplay a:visited
{
    color: White;
}

.loginDisplay a:hover
{
    color: #D85A1A;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

/* REGISTRATION TABLE LAYOUTS //TODO CLEAN THIS UP
----------------------------------------------------------*/

table.tableDrag
{
    border: 2px solid black;
    border: none;
    float: left;
    cursor: move;
}

td.tdDrag
{
    padding: 8px;
    border: 1px solid black;
    background-color: Orange;
}

table.seating
{
    position: absolute;
    border: 2px solid black;
    border: none;
    float: left;
    cursor: pointer;
}
div.seatingTableHeader
{
    position: center;
}

div#rightLeg
{
    float: right;
    //padding-top: 50px;
    width: 25%;
}

div#rightCreateLayout
{
    float: right;
    padding-top: 50px;
    width: 25%;
}

#legend
{
    float: left;
}
td.seat
{
    padding: 8px;
    border: 1px solid black;
}
td.available
{
    background-color: #5AA247;
}
td.reserved
{
    background-color: Purple;
}
td.userReserved
{
    background-color: Blue;
}
td.userTaken
{
    background-color: #D85A1A;
}
td.taken
{
    background-color: #9F0102;
}

div.regError
{
    color: Red;
    position: absolute;
    font-weight: bold;
    width: 550px;
}

/* hover box */
#hoverbox
{
    position: absolute;
    visibility: hidden;
    border: 1px solid black;
    background-color: Black;
    color: White;
    padding: 10px;
}
#hiddenForm
{
    visibility: hidden;
    border: 1px solid orange;
}

table.font
{
    color: White;
}

/* SPONSORSHIP PAGE
----------------------------------------------------*/

div.sponsor
{
    
}

img.sponsorIMG
{
    max-height: 150px;
}


/* SELECTION OF FONT ON SITE
------------------------------------------------------*/
::selection 
{
    background: #ABADA4;
    color: white;
}

::-moz-selection
{
    background: #ABADA4;
    color: white;
}